@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?d9wq4');
	src: url('../fonts/icomoon.eot?d9wq4#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?d9wq4') format('truetype'),
		url('../fonts/icomoon.woff?d9wq4') format('woff'),
		url('../fonts/icomoon.svg?d9wq4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa/Comfortaa_Light.ttf') format('truetype');
   font-weight: 300;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa_Regular.ttf') format('truetype');
   font-weight: 500;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa_Medium.ttf') format('truetype');
   font-weight: 700;
}
@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa/Comfortaa_SemiBold.ttf') format('truetype');
   font-weight: bold;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa_Bold.ttf') format('truetype');
   font-weight: bolder;
}
